.dialog-management-custom .p-dialog-close-button {
    display: none !important;
}

.custom-message{
    font-size: 18px;
    margin-left: 20px;
    font-weight: bold;
}

.phone-wrapper > .iti {
    width: 100% !important;
}

.swal2-container {
    z-index: 9999 !important;
}

.p-galleria-items{
    margin-top: 10px !important;
}
